<?xml version="1.0"?>
<PersistedSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Guid>b4414127-28ea-4f50-8398-c1e64e62b8f8</Guid>
  <PlayerName>cat sucks dog</PlayerName>
  <HostUrl>https://jeffparty.alexkindle.com/ChatHub</HostUrl>
  <IsHost>false</IsHost>
</PersistedSettings>