<?xml version="1.0" encoding="utf-8"?>
<PersistedSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Guid>b20d210b-46db-44b9-8aec-bb79240fb65a</Guid>
  <PlayerName>New Player</PlayerName>
  <HostUrl>https://jeffparty.alexkindle.com/ChatHub</HostUrl>
  <IsHost>true</IsHost>
  <IsLightningRound>true</IsLightningRound>
</PersistedSettings>